@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #000000;
  --brand: #C0A86C;
  --brand-dark: #765B2C;
  --brand-gradient: linear-gradient(to right, var(--brand), var(--brand-dark));
  --font-urbanist: 'Urbanist', sans-serif;
}

@theme {
  /* Theme Utilities & Variable Mapping */
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-brand: var(--brand);
  --color-brand-dark: var(--brand-dark);
  --background-image-brand-gradient: var(--brand-gradient);
  --font-sans: Urbanist, sans-serif;

  --breakpoint-*: initial; 


  /* Redefine everything consistently in pixels */
  --breakpoint-2xs: 20rem;
  --breakpoint-xs: 23.3rem;
  --breakpoint-sm: 26.5rem; 
  --breakpoint-md: 48rem;  
  --breakpoint-lg: 64rem;    
  --breakpoint-xl: 90rem;    
  --breakpoint-2xl: 160rem;   
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

@layer utilities {
  /* Target any element with the class 'custom-scrollbar' */
  .custom-scrollbar::-webkit-scrollbar {
    height: 6px;
    width: 6px;
  }

  /* The scroll background track */
  .custom-scrollbar::-webkit-scrollbar-track {
    background: #FAF8F2; /* Matching your alternating table row light tan color */
    border-radius: 9999px;
  }

  /* The active scrolling grab bar */
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #C4A46E; /* Your main Amber/Gold Brand Color */
    border-radius: 9999px;
  }

  /* Hover state on the grab bar */
  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #A68753; /* Darker brand gold for hover indicator feed */
  }
}
