@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #000000;
  --brand: #C0A86C;
  --brand-dark: #765B2C;
  --brand-gradient: linear-gradient(to right, var(--brand), var(--brand-dark));
  --font-urbanist: 'Urbanist', sans-serif;
}

@theme {
  /* Theme Utilities & Variable Mapping */
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-brand: var(--brand);
  --color-brand-dark: var(--brand-dark);
  --background-image-brand-gradient: var(--brand-gradient);
  --font-sans: Urbanist, sans-serif;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

@layer utilities {
  /* Target any element with the class 'custom-scrollbar' */
  .custom-scrollbar::-webkit-scrollbar {
    height: 6px;
    width: 6px;
  }

  /* The scroll background track */
  .custom-scrollbar::-webkit-scrollbar-track {
    background: #FAF8F2; /* Matching your alternating table row light tan color */
    border-radius: 9999px;
  }

  /* The active scrolling grab bar */
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #C4A46E; /* Your main Amber/Gold Brand Color */
    border-radius: 9999px;
  }

  /* Hover state on the grab bar */
  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #A68753; /* Darker brand gold for hover indicator feed */
  }
}



.sidebar {
  font-size: 0.575rem;
  padding: 1rem;
}
 
.sidebar .icon {
  width: 1.5em;
  height: 1.5em;
}

header {
  font-size: 0.6rem
}

header h1 {
  font-size: 2rem;
}

header .icon {
  width: 1.5em;
  height: 1.5em;
  margin: 0.1em;
}

header .hamburger {
  width: 2em;
  height: 2em;
  margin: 0.10em;
}


.main-heading {
  font-size: 1rem;
}

.chart-text {
  font-size: 0.45rem;
}

.analytic-card .main-text {
  font-size:0.9rem;
}

.analytic-card{
  font-size: 0.45rem;
  padding-block: 0.8rem;
  padding-inline: 1rem;
}

.analytic-card .icon {
  height: 1.9em;
  width: 1.9em;
}

.searchbar {
  font-size: 0.55rem;
}

.filters {
  font-size: 0.4rem;
}

.filters .tabs {
  padding-inline: 0.5rem;
  padding-block: 0.25rem;
}

.booking-card {
  font-size: 0.45rem;
}

.booking-card .pill {
  font-size: 0.35rem;
}

.booking-card .price{
  font-size: 1rem;
}

.booking-card h4 {
  font-size: 0.8rem;
}

.back-button {
  font-size: 1.1rem;
}

.booking-detail {
  font-size: 0.5rem;
}

.booking-detail h1 {
  font-size: 1rem;
}

.booking-detail h2 {
  font-size: 0.8rem;
}

.booking-detail .review {
  font-size: 1rem;
}

.booking-detail .price {
  font-size: 1.1rem;
}

.brand-pill {
  font-size: 0.45rem;
}

.data-table {
  font-size: 0.5rem;
}

.data-table .cell {
  padding-inline:0.25rem;
  padding-block: 0.5rem;
}

.data-table .pill {
  padding-inline:0.4rem;
  padding-block: 0.2rem;
}

.brand-button {
  font-size: 0.5rem;
}

.details-layout {
  font-size: 0.6rem;
}

.info-cell {
  font-size: 0.6rem;
}

.vehicle-card {
  font-size: 0.55rem;
}

.vehicle-card .heading {
  font-size: 0.8rem;
}

.truck-details {
  font-size: 0.6rem;
}

.plan-card {
  font-size: 0.6rem;
}

.plan-card .heading {
  font-size: 1rem;
}

.plan-card .price {
  font-size: 3rem;
}

.plan-page {
  font-size: 0.6rem;
}

.plan-page .heading {
  font-size: 1rem;
}

.plan-page .sub-heading {
  font-size: 1rem;
}


.dropdown {
  font-size: 0.55rem;
}

.dropdown .label {
  font-size: 0.45rem;
}


.edit-subscription-form {
  font-size: 0.55rem;
}

.modal {
  font-size: 0.8rem;
}

.modal .heading {
  font-size: 1.5rem;
}

.modal .button {
  font-size: 0.7rem;
  height: 2.5rem;
}

.settings {
  font-size: 0.6rem;
}

.notification {
  font-size: 0.55rem;
}

.notification .heading {
  font-size: 0.75rem;
}

.notification .message {
  font-size: 0.65rem;
}

.input {
  font-size: 0.55rem;
}

.auth-heading {
  font-size: 1.7rem;
  font-weight: 700;
  color: var(--brand);
}

.auth-h2 {
  font-size: 0.75rem;
 
  
}

.auth-sub-heading {
  font-size: 0.55rem;

}

.auth-options {
  font-size: 0.45rem;
}

.auth-options-button {
  height: 2.5rem;
  width: 2.5rem ;
  margin: 1rem;
}

.month-picker-popover {
    left: auto;
    width: 15rem;
    font-size: 0.6rem;
  }

.avatar-picker {
    font-size: 0.7rem;
  }

.upload-area {
  padding-block: 1.5rem;
  font-size: 0.7rem;
}

@media (min-width: 40rem) {
  .searchbar {
    width: 15.5rem;
  }
}

@media (min-width: 80rem) {
.sidebar {
  font-size: 1rem;
  padding: 1.7rem;
}

.sidebar .icon {
  width: 1.2em;
  height: 1.2em;
}

header {
  font-size: 1rem;
}

header h1 {
  font-size: 2.4rem;
}

header .icon {
  width: 1.3em;
  height: 1.3em;
  margin: 0.1em;
}

.main-heading {
  font-size: 1.9rem;
}

.chart-text {
  font-size: 0.8rem;
}

.analytic-card .main-text {
  font-size: 1.4rem;
}

.analytic-card {
  font-size: 0.8rem;
  padding-block: 1.4rem;
  padding-inline: 1.4rem;
}

.analytic-card .icon {
  height: 2em;
  width: 2em;
}

.searchbar {
  font-size: 1.1rem;
  width: 30rem;
}

.filters {
  font-size: 0.8rem;
  margin-bottom: 2em;
}

.filters .tabs {
  padding-inline: 0.75rem;
  padding-block: 0.5rem;
}

.booking-card {
  font-size: 0.9rem;
}

.booking-card .pill {
  font-size: 0.7rem;
}

.booking-card .price {
  font-size: 2rem;
}

.booking-card h4 {
  font-size: 1.6rem;
}

.back-button {
  font-size: 2rem;
}

.booking-detail {
  font-size: 1rem;
}

.booking-detail h1 {
  font-size: 2rem;
}

.booking-detail h2 {
  font-size: 1.6rem;
}

.booking-detail .review {
  font-size: 1.3rem;
}

.booking-detail .price {
  font-size: 2.2rem;
}

.brand-pill {
  font-size: 0.7rem;
  padding-inline: 0.7rem;
}

.data-table {
  font-size: 1rem;
}

.data-table .cell {
  padding-inline:1rem;
  padding-block: 1.1rem;
}

.data-table .pill {
  font-size: 0.75rem;
  padding-inline:0.8rem;
  padding-block: 0.3rem;
}

.brand-button {
  font-size: 1rem;
}

.details-layout {
  font-size: 1.2rem;
}

.info-cell {
  font-size: 1rem;
}

.vehicle-card {
  font-size: 1rem;
}

.vehicle-card .heading {
  font-size: 1.6rem;
}

.truck-details {
  font-size: 1.2rem;
}

.plan-card {
  font-size: 0.9rem;
}

.plan-card .heading {
  font-size: 2rem;
}

.plan-card .price {
  font-size: 6rem;
}

.plan-page {
  font-size: 0.9rem;
}

.plan-page .heading {
  font-size: 1.8rem;
}

.plan-page .sub-heading {
  font-size: 1.2rem;
}

.dropdown {
  font-size: 0.9rem;
}

.dropdown .label {
  font-size: 0.7rem;
}

.edit-subscription-form {
  font-size: 1.1rem;
}

.edit-subscription-form .button {
  font-size: 0.7rem;
}

.modal {
  font-size: 1rem;
}

.modal .heading {
  font-size: 1.7rem;
}

.modal .button {
  font-size: 0.8rem;
  height: 3rem;
}

.settings {
  font-size: 1rem;
}

.notification {
  font-size: 0.9rem;
}

.notification .heading {
  font-size: 1.3rem;
}

.notification .message {
  font-size: 1.1rem;
}

.input {
  font-size: 0.8rem;
}

.auth-heading {
  font-size: 3rem;
  font-weight: 700;
  color: var(--brand);
}

.auth-h2 {
  font-size: 1.2rem;
  
}

.auth-sub-heading {
  font-size: 0.9rem;
  color: #00000085;
}

.auth-options-button {
  height: 3.5rem;
  width: 3.5rem ;
  margin: 1.5rem;
}

.auth-options {
  font-size: 0.7rem;
}

 .month-picker-popover {
    left: auto;
    width: 15rem;
    max-height: calc(100dvh - 1.5rem);
  }

  .avatar-picker {
    font-size: 1rem;
  }

  .upload-area {
    padding-block: 2rem;
    font-size: 1rem;
  }
}



